
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Garamond:wght@300&family=Noto+Serif+KR:wght@200&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250vh 100vh;
  background-color: #a1d2ffa4;
}

/*The content in page style*/
.container {
  max-width: 66vh;
  margin: 10% auto;
  overflow: auto;
  min-height: 500px;
  min-width: 600px;
  border: 1px solid rgb(255, 255, 255);
  padding: 5%;
  border-radius: 100px;
  background-color: #ffffffa4;
}

/*Question h1 and h2 follow this style*/
Header {
  text-align: center;
  font-size: 120%;
  margin-bottom: 10%;
}

/*Here we wan't to make h1 has different font
because the other had weird 'Q' letter*/
header h1 {
  font-family: 'Noto Serif KR', serif;
}

/*style for information text*/
.info {
  display: grid;
  grid-template-columns:20% 100%;
}

.info h3 {
  font-size: 100%;
  margin: 3% 10% 0% 0%;
  width: 69%;
}

.info h2 {
  margin: 0% 10% 0% 45%;
  font-size: 340%;
  color: red;
  font-family: 'Acme', sans-serif;
}

/*Option buttons follow these styles*/
button {
  background-color: #ffceff;
  border: 1px solid #ffceff;
  border-radius: 50%;
  margin: 3% 3% 0% 25%;
  color: #000000;
  height:40px;
  width: 50%;
  display: block;
  cursor: pointer;
  font-family: 'Noto Serif KR', serif;
  font-size: 130%;
}

button:hover {
  background-color: #96a7f3;
  color: white;
  border: 1px solid #96a7f3;
}


