@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Noto+Serif+KR:wght@200&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Noto Serif KR', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250vh 100vh;
  background-color: #a1d2ffa4;
}

.container {
  max-width: 66vh;
  margin: 10% auto;
  overflow: auto;
  min-height: 500px;
  min-width: 600px;
  border: 1px solid rgb(255, 255, 255);
  padding: 5%;
  border-radius: 100px;
  background-color: #ffffffa4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
